
FormDangNhap/.vs/FormDangNhap/v16/.suo
FormDangNhap/FormDangNhap/obj/Debug/DesignTimeResolveAssemblyReferences.cache
FormDangNhap/FormDangNhap/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
